    <style>
        .drop-shadow-lg {
            --tw-drop-shadow: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.4));
        }

        img {
            max-height: 50vmin;
        }
    </style>
<div class="w-full">
  <%= turbo_frame_tag "foods" do %>
    <div class="mb-4 flex justify-end">
      <%= link_to "New Food", new_food_path, class: "inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500", data: { turbo_frame: "_top" } %>
    </div>
    <% if @foods.any? %>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <% @foods.each do |food| %>
          <%
                 status_colors = case food.overall_status
                 when 'high'
                   "bg-red-100 text-red-800 border-red-200"
                 when 'medium'
                   "bg-yellow-100 text-yellow-800 border-yellow-200"
                 when 'low'
                   "bg-green-100 text-green-800 border-green-200"
                 else
                   "bg-gray-100 text-gray-800 border-gray-200"
                 end
              %>
          <%= link_to food_path(food), data: { turbo_frame: "modal" }, class: "#{status_colors} rounded-xl shadow-sm border border-gray-100 p-5 hover:shadow-md transition-shadow flex flex-col justify-between" do %>
            <div class="mb-2">
              <div class="flex items-center justify-between">
                <h2 class="text-xl font-semibold text-gray-800"><%= food_name(food) %></h2>
                <% if food.notes.present? %>
                  <svg class="w-10 h-10" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                    </g>
                    <g id="SVGRepo_iconCarrier">
                      <path d="M12 15H12.01M12 12V9M4.98207 19H19.0179C20.5615 19 21.5233 17.3256 20.7455 15.9923L13.7276 3.96153C12.9558 2.63852 11.0442 2.63852 10.2724 3.96153L3.25452 15.9923C2.47675 17.3256 3.43849 19 4.98207 19Z" stroke="#a51d2d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      </path>
                    </g>
                  </svg>
                <% end %>
              </div>
              <p class="text-sm text-gray-500 capitalize"><%= category_name(food) %></p>
            </div>
            <% if File.exist?("app/assets/images/foods/#{food.image_file_name || food.name.downcase.gsub(' ', '_')}.webp") %>
              <%= image_tag "foods/#{food.image_file_name || food.name.downcase.gsub(' ', '_')}.webp", alt: food.name, class: "w-full h-64 object-contain rounded-lg drop-shadow-lg" %>
            <% else %>
              <%= image_tag "foods/default.webp", alt: food.name, class: "w-full h-64 object-contain rounded-lg drop-shadow-lg" %>
            <% end %>
            <div class="mt-4 flex flex-wrap gap-2 items-center">
              <span class="px-2.5 py-0.5 rounded-full text-xs font-medium border <%= status_colors %> flex items-center">
                <span class="w-2 h-2 rounded-full mr-1.5 
                  <%= food.overall_status == 'high' ? 'bg-red-500' : (food.overall_status == 'medium' ? 'bg-yellow-500' : (food.overall_status == 'low' ? 'bg-green-500' : 'bg-gray-400')) %>">
                </span>
                Status: <%= food.overall_status.to_s.titleize.presence || 'N/A' %>
              </span>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class="text-center py-12 bg-white rounded-xl border border-gray-200">
        <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
        </svg>
        <h3 class="mt-2 text-sm font-semibold text-gray-900">No foods found</h3>
        <p class="mt-1 text-sm text-gray-500">Try adjusting your search query.</p>
      </div>
    <% end %>
  <% end %>
</div>
