<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Fodmap 2026" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Fodmap 2026">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="fixed top-0 inset-x-0 bg-white shadow-sm z-40">
      <div class="container mx-auto px-5 py-4 flex <%= hotwire_native_app? ? 'justify-end' : 'justify-between items-center' %>">
        <% unless hotwire_native_app? %>
          <%= link_to '/downloads/fodmap-app.apk', { target: '_blank' }, data: { turbo: false } do %>
            <%= image_tag "android-download.svg", alt: "Download for Android", class: "h-10 text-gray-500" %>
          <% end %>
        <% end %>
        <%# Search bar %>
        <div class="items-center justify-between">    
          <%= form_with url: foods_path, method: :get, class: "flex items-center space-x-2", 
                      data: { turbo_frame: "foods", turbo_action: "advance" } do |form| %>
            <div class="relative w-full">
              <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg aria-hidden="true" class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                </svg>
              </div>
              <%= form.text_field :query, 
                  value: params[:query],
                  class: "bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 shadow-sm transition duration-200 outline-none", 
                  placeholder: "Search foods by name...",
                  oninput: "this.form.requestSubmit()" %>
            </div>
          <% end %>
        </div>
        <%# Language Selection %>
        <%= form_with url: url_for(only_path: true), method: :get, data: { controller: "locale" }, class: "inline-block" do |f| %>
          <% request.query_parameters.except(:locale).each do |key, value| %>
            <%= hidden_field_tag key, value %>
          <% end %>
          <div class="flex items-center space-x-2">
            <svg class="w-5 h-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5h12M9 3v2m1.048 9.5A18.022 18.022 0 016.412 9m6.088 9h7M11 21l5-10 5 10M12.751 5C11.783 10.77 8.07 15.61 3 18.129"></path></svg>
            <%= f.select :locale, 
                  [['English', 'en'], ['Lietuvių', 'lt']], 
                  { selected: I18n.locale.to_s }, 
                  { data: { action: "change->locale#submit" }, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2 outline-none cursor-pointer" } %>
          </div>
        <% end %>
      </div>
    </header>

    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
    <%= turbo_frame_tag "modal" %>
  </body>
</html>
